.row.top-mar
	.col-md-6.col-md-offset-1
		.panel.top-mar
			.panel-head
				.edit-image
				= image_tag @pin.image.url(:medium)
		.panel-body
			= render 'form'
			= link_to "Back", pins_path 
    	
	
